<header>
  <span class="bg-violet-100 rounded p-2"> Total: </span>
  <span class="bg-amber-100 rounded p-2"> {{ total$ | async }} </span>

  <button class="bg-blue-300 rounded p-2" (click)="resetStore()">
    Reiniciar
  </button>
</header>

<main class="max-w-screen-xl">
  <app-cell-button cellName="heterofilo"></app-cell-button>
  <app-cell-button cellName="plaqueta"></app-cell-button>
  <app-cell-button cellName="leucocitozoon"></app-cell-button>

  <app-cell-button cellName="linfocito"></app-cell-button>
  <app-cell-button cellName="bas"></app-cell-button>
  <app-cell-button cellName="plasmodium"></app-cell-button>

  <app-cell-button cellName="monocito"></app-cell-button>
  <app-cell-button cellName="eos"></app-cell-button>
  <app-cell-button cellName="haemop"></app-cell-button>
</main>
