:host {
  @apply max-w-screen-lg;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: stretch;
  align-items: center;
  height: 100%;
  gap: 1rem;
  flex: 0 0 0;
  padding: 2rem 1rem;
}

header {
  display: flex;
  padding: 4rem;
  gap: 1rem;
}


